{% extends "base_with_header_and_sections.html" %}

{% block title %}Главная{% endblock %}

{% block content %}


<h3 class="separator">
    Быстрый доступ
</h3>

<div class="quick-access">
    <a href="{{ url_for('catalog', file_type='notes') }}" class="item">
        <div class="icon-wrapper">
            <i class="ri-quill-pen-line"></i>
        </div>
        <h5>Конспекты</h5>
        <p>{{ file_data['notes']|length }} материал{% if 1 < file_data['notes']|length < 5 %}а{% elif
            file_data['notes']|length >= 5 %}ов{% endif %}</p>
    </a>
    <a href="{{ url_for('catalog', file_type='cheatsheets') }}" class="item">
        <div class="icon-wrapper">
            <i class="ri-bookmark-line"></i>
        </div>
        <h5>Шпаргалки</h5>
        <p>{{ file_data['cheatsheets']|length }} материал{% if 1 < file_data['cheatsheets']|length < 5 %}а{% elif
            file_data['notes']|length >= 5 %}ов{% endif %}</p>
    </a>
    <a href="{{ url_for('catalog', file_type='textbooks') }}" class="item">
        <div class="icon-wrapper">
            <i class="ri-book-2-line"></i>
        </div>
        <h5>Учебники</h5>
        <p>{{ file_data['textbooks']|length }} материал{% if 1 < file_data['textbooks']|length < 5 %}а{% elif
            file_data['notes']|length >= 5 %}ов{% endif %}</p>
    </a>
    <a href="{{ url_for('catalog', file_type='videos') }}" class="item">
        <div class="icon-wrapper">
            <i class="ri-video-chat-fill"></i>
        </div>
        <h5>Видео</h5>
        <p>{{ file_data['videos']|length }} материал{% if 1 < file_data['videos']|length < 5 %}а{% elif
            file_data['notes']|length >= 5 %}ов{% endif %}</p>
    </a>
    <a href="{{ url_for('catalog', file_type='clips') }}" class="item">
        <div class="icon-wrapper">
            <i class="ri-mail-send-fill"></i>
        </div>
        <h5>Клипы</h5>
        <p>{{ file_data['clips']|length }} материал{% if 1 < file_data['clips']|length < 5 %}а{% elif
            file_data['notes']|length >= 5 %}ов{% endif %}</p>
    </a>
</div>

<h3 class="separator">
    Недавние
</h3>

<div class="recent-horizontal-container">
    {% for category in file_types %}
    <div class="recent-horizontal-section">
        <h4 class="recent-horizontal-title">
            {% if category == 'notes' %}
            <i class="ri-quill-pen-line"></i> Конспекты
            {% elif category == 'cheatsheets' %}
            <i class="ri-bookmark-line"></i> Шпаргалки
            {% elif category == 'textbooks' %}
            <i class="ri-book-2-line"></i> Учебники
            {% elif category == 'videos' %}
            <i class="ri-video-chat-fill"></i> Видео
            {% elif category == 'clips' %}
            <i class="ri-mail-send-fill"></i> Клипы
            {% endif %}
        </h4>

        <div class="recent-horizontal-scroll">
            {% for file in file_data[category][:5] %}
            <a href="{{ url_for('file_detail', file_id=file.id) }}">
            <div class="recent-horizontal-item">
                <h5 class="recent-horizontal-name">{{ file.name }}</h5>
                <p class="recent-horizontal-date">{{ file.created_at }}</p>
                <button class="recent-horizontal-more">
                    <i class="ri-more-fill"></i>
                </button>
            </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}